.App {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 3rem;
}

.heading {
  font-size: larger;
  font-weight: bold;
  font-style: italic;
}

.field {
  display: flex;
  align-items: center;
  padding: 3rem;
  justify-content: center;
}

.input {
  width: 50%;
  padding: 1rem;
  border-radius: 3rem;
}

.add-btn {
  border: none;
  background-color: bisque;
  padding: 1rem 3rem;
  border-radius: 3rem;
  cursor: pointer;
}

.todo-container {
  /* width: 50vw; */
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  flex-wrap: wrap;
}

.todos {
  display: flex;
  justify-content: space-between;
  background-color: blanchedalmond;
  list-style: none;
  padding: 0.8rem;
  margin: 0.5rem;
  border-radius: 1rem;
  align-items: center;
}

.btn-container {
  display: flex;
  justify-content: space-between;
  padding-left: 1.5rem;
  cursor: pointer;
}

.strike {
  text-decoration: line-through;
}

.edit-input {
  border: none;
  background-color: blanchedalmond;
}
